<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>fi</key>
  <string>fi.glif</string>
  <key>uni025A</key>
  <string>uni025A_.glif</string>
  <key>uni0300</key>
  <string>uni0300.glif</string>
  <key>uni0301</key>
  <string>uni0301.glif</string>
  <key>uni030B</key>
  <string>uni030B_.glif</string>
  <key>uni030C</key>
  <string>uni030C_.glif</string>
  <key>uni031B</key>
  <string>uni031B_.glif</string>
  <key>uni0331</key>
  <string>uni0331.glif</string>
  <key>uni0334</key>
  <string>uni0334.glif</string>
  <key>uni0335</key>
  <string>uni0335.glif</string>
  <key>uni0336</key>
  <string>uni0336.glif</string>
  <key>uni0337</key>
  <string>uni0337.glif</string>
  <key>uni0338</key>
  <string>uni0338.glif</string>
  <key>uni1784</key>
  <string>uni1784.glif</string>
  <key>uni178717C5.right</key>
  <string>uni178717C_5.right.glif</string>
  <key>uni178A17CF</key>
  <string>uni178A_17C_F_.glif</string>
  <key>uni178B</key>
  <string>uni178B_.glif</string>
  <key>uni179017B6</key>
  <string>uni179017B_6.glif</string>
  <key>uni179317B6</key>
  <string>uni179317B_6.glif</string>
  <key>uni17C6.a</key>
  <string>uni17C_6.a.glif</string>
  <key>uni17C9.a</key>
  <string>uni17C_9.a.glif</string>
  <key>uni17CE.avowel</key>
  <string>uni17C_E_.avowel.glif</string>
  <key>uni17CF</key>
  <string>uni17C_F_.glif</string>
  <key>uni17D0.a</key>
  <string>uni17D_0.a.glif</string>
  <key>uni17D21788</key>
  <string>uni17D_21788.glif</string>
  <key>uni17D2178B.low</key>
  <string>uni17D_2178B_.low.glif</string>
  <key>uni17D21792</key>
  <string>uni17D_21792.glif</string>
  <key>uni17D21792.low</key>
  <string>uni17D_21792.low.glif</string>
  <key>uni17D21798</key>
  <string>uni17D_21798.glif</string>
  <key>uni17D2179A.low</key>
  <string>uni17D_2179A_.low.glif</string>
  <key>uni17D2179A.lowwide</key>
  <string>uni17D_2179A_.lowwide.glif</string>
  <key>uni17D2179A.lowwide2</key>
  <string>uni17D_2179A_.lowwide2.glif</string>
  <key>uni17DD.wide1</key>
  <string>uni17D_D_.wide1.glif</string>
  <key>uni17DD.wide2</key>
  <string>uni17D_D_.wide2.glif</string>
  <key>uni17DD.wide3</key>
  <string>uni17D_D_.wide3.glif</string>
</dict>
</plist>
