<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_2</key>
  <string>_2.glif</string>
  <key>_L.ear</key>
  <string>_L_.ear.glif</string>
  <key>_R.ear</key>
  <string>_R_.ear.glif</string>
  <key>_R.earLarge</key>
  <string>_R_.earL_arge.glif</string>
  <key>_ballInstroke</key>
  <string>_ballI_nstroke.glif</string>
  <key>_bulgeArch</key>
  <string>_bulgeA_rch.glif</string>
  <key>_diagonal</key>
  <string>_diagonal.glif</string>
  <key>_diagonalSharp</key>
  <string>_diagonalS_harp.glif</string>
  <key>_eyelash</key>
  <string>_eyelash.glif</string>
  <key>_eyelash2</key>
  <string>_eyelash2.glif</string>
  <key>_instroke</key>
  <string>_instroke.glif</string>
  <key>_m</key>
  <string>_m.glif</string>
  <key>_mArch</key>
  <string>_mA_rch.glif</string>
  <key>_outstroke</key>
  <string>_outstroke.glif</string>
  <key>_squirreltail</key>
  <string>_squirreltail.glif</string>
  <key>_swash</key>
  <string>_swash.glif</string>
  <key>_w</key>
  <string>_w.glif</string>
  <key>_wNarrow</key>
  <string>_wN_arrow.glif</string>
  <key>_wWideforReg</key>
  <string>_wW_ideforR_eg.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>uni1780</key>
  <string>uni1780.glif</string>
  <key>uni1780.alt</key>
  <string>uni1780.alt.glif</string>
  <key>uni178017B6</key>
  <string>uni178017B_6.glif</string>
  <key>uni178017B6.alt</key>
  <string>uni178017B_6.alt.glif</string>
  <key>uni178017B6.space</key>
  <string>uni178017B_6.space.glif</string>
  <key>uni1781</key>
  <string>uni1781.glif</string>
  <key>uni1781.pronounlig</key>
  <string>uni1781.pronounlig.glif</string>
  <key>uni1783</key>
  <string>uni1783.glif</string>
  <key>uni178317B6</key>
  <string>uni178317B_6.glif</string>
  <key>uni1784</key>
  <string>uni1784.glif</string>
  <key>uni178417B6</key>
  <string>uni178417B_6.glif</string>
  <key>uni1785</key>
  <string>uni1785.glif</string>
  <key>uni178517C5.right</key>
  <string>uni178517C_5.right.glif</string>
  <key>uni1786</key>
  <string>uni1786.glif</string>
  <key>uni178817C5.right</key>
  <string>uni178817C_5.right.glif</string>
  <key>uni1789</key>
  <string>uni1789.glif</string>
  <key>uni1789.alt</key>
  <string>uni1789.alt.glif</string>
  <key>uni178917B6.alt</key>
  <string>uni178917B_6.alt.glif</string>
  <key>uni178A</key>
  <string>uni178A_.glif</string>
  <key>uni178A17B6</key>
  <string>uni178A_17B_6.glif</string>
  <key>uni178B17B6</key>
  <string>uni178B_17B_6.glif</string>
  <key>uni178C</key>
  <string>uni178C_.glif</string>
  <key>uni178D</key>
  <string>uni178D_.glif</string>
  <key>uni178E</key>
  <string>uni178E_.glif</string>
  <key>uni178E17B6</key>
  <string>uni178E_17B_6.glif</string>
  <key>uni178F</key>
  <string>uni178F_.glif</string>
  <key>uni178F17B6</key>
  <string>uni178F_17B_6.glif</string>
  <key>uni1790</key>
  <string>uni1790.glif</string>
  <key>uni1791</key>
  <string>uni1791.glif</string>
  <key>uni1792</key>
  <string>uni1792.glif</string>
  <key>uni179217B6</key>
  <string>uni179217B_6.glif</string>
  <key>uni1793</key>
  <string>uni1793.glif</string>
  <key>uni1794.lig.left</key>
  <string>uni1794.lig.left.glif</string>
  <key>uni1797</key>
  <string>uni1797.glif</string>
  <key>uni1799</key>
  <string>uni1799.glif</string>
  <key>uni179917B6</key>
  <string>uni179917B_6.glif</string>
  <key>uni179B</key>
  <string>uni179B_.glif</string>
  <key>uni179C</key>
  <string>uni179C_.glif</string>
  <key>uni179C17B6</key>
  <string>uni179C_17B_6.glif</string>
  <key>uni179F</key>
  <string>uni179F_.glif</string>
  <key>uni17A0</key>
  <string>uni17A_0.glif</string>
  <key>uni17A017B6</key>
  <string>uni17A_017B_6.glif</string>
  <key>uni17A1</key>
  <string>uni17A_1.glif</string>
  <key>uni17A117B6</key>
  <string>uni17A_117B_6.glif</string>
  <key>uni17A2</key>
  <string>uni17A_2.glif</string>
  <key>uni17A5</key>
  <string>uni17A_5.glif</string>
  <key>uni17A7</key>
  <string>uni17A_7.glif</string>
  <key>uni17A8</key>
  <string>uni17A_8.glif</string>
  <key>uni17A9</key>
  <string>uni17A_9.glif</string>
  <key>uni17AA</key>
  <string>uni17A_A_.glif</string>
  <key>uni17AC</key>
  <string>uni17A_C_.glif</string>
  <key>uni17AE</key>
  <string>uni17A_E_.glif</string>
  <key>uni17AF</key>
  <string>uni17A_F_.glif</string>
  <key>uni17B0</key>
  <string>uni17B_0.glif</string>
  <key>uni17B1</key>
  <string>uni17B_1.glif</string>
  <key>uni17B1.alt</key>
  <string>uni17B_1.alt.glif</string>
  <key>uni17B1.alt2</key>
  <string>uni17B_1.alt2.glif</string>
  <key>uni17B2</key>
  <string>uni17B_2.glif</string>
  <key>uni17B3</key>
  <string>uni17B_3.glif</string>
  <key>uni17B3.alt</key>
  <string>uni17B_3.alt.glif</string>
  <key>uni17B6</key>
  <string>uni17B_6.glif</string>
  <key>uni17B7</key>
  <string>uni17B_7.glif</string>
  <key>uni17B7.ms.high</key>
  <string>uni17B_7.ms.high.glif</string>
  <key>uni17B7.ms.high2</key>
  <string>uni17B_7.ms.high2.glif</string>
  <key>uni17B7.ms.narrowhigh</key>
  <string>uni17B_7.ms.narrowhigh.glif</string>
  <key>uni17B7.ms.narrowhigh2</key>
  <string>uni17B_7.ms.narrowhigh2.glif</string>
  <key>uni17B7.narrow</key>
  <string>uni17B_7.narrow.glif</string>
  <key>uni17B717CD</key>
  <string>uni17B_717C_D_.glif</string>
  <key>uni17B717CD.ms.high</key>
  <string>uni17B_717C_D_.ms.high.glif</string>
  <key>uni17B717CD.ms.high2</key>
  <string>uni17B_717C_D_.ms.high2.glif</string>
  <key>uni17B717CD.ms.narrowhigh</key>
  <string>uni17B_717C_D_.ms.narrowhigh.glif</string>
  <key>uni17B717CD.ms.narrowhigh2</key>
  <string>uni17B_717C_D_.ms.narrowhigh2.glif</string>
  <key>uni17B717CD.narrow</key>
  <string>uni17B_717C_D_.narrow.glif</string>
  <key>uni17B8</key>
  <string>uni17B_8.glif</string>
  <key>uni17B8.ms.high</key>
  <string>uni17B_8.ms.high.glif</string>
  <key>uni17B8.ms.high2</key>
  <string>uni17B_8.ms.high2.glif</string>
  <key>uni17B9</key>
  <string>uni17B_9.glif</string>
  <key>uni17B9.ms.high</key>
  <string>uni17B_9.ms.high.glif</string>
  <key>uni17B9.ms.high2</key>
  <string>uni17B_9.ms.high2.glif</string>
  <key>uni17B9.ms.narrowhigh</key>
  <string>uni17B_9.ms.narrowhigh.glif</string>
  <key>uni17B9.ms.narrowhigh2</key>
  <string>uni17B_9.ms.narrowhigh2.glif</string>
  <key>uni17B9.narrow</key>
  <string>uni17B_9.narrow.glif</string>
  <key>uni17BA</key>
  <string>uni17B_A_.glif</string>
  <key>uni17BA.ms.high</key>
  <string>uni17B_A_.ms.high.glif</string>
  <key>uni17BA.ms.high2</key>
  <string>uni17B_A_.ms.high2.glif</string>
  <key>uni17BB</key>
  <string>uni17B_B_.glif</string>
  <key>uni17BB.low</key>
  <string>uni17B_B_.low.glif</string>
  <key>uni17BB.low.narrow</key>
  <string>uni17B_B_.low.narrow.glif</string>
  <key>uni17BC</key>
  <string>uni17B_C_.glif</string>
  <key>uni17BC.low</key>
  <string>uni17B_C_.low.glif</string>
  <key>uni17BC.narrow</key>
  <string>uni17B_C_.narrow.glif</string>
  <key>uni17BD</key>
  <string>uni17B_D_.glif</string>
  <key>uni17BE</key>
  <string>uni17B_E_.glif</string>
  <key>uni17BF</key>
  <string>uni17B_F_.glif</string>
  <key>uni17BF.rightpart1</key>
  <string>uni17B_F_.rightpart1.glif</string>
  <key>uni17BF.rightpart2</key>
  <string>uni17B_F_.rightpart2.glif</string>
  <key>uni17BF.rightpart3</key>
  <string>uni17B_F_.rightpart3.glif</string>
  <key>uni17C0</key>
  <string>uni17C_0.glif</string>
  <key>uni17C0.rightpart1</key>
  <string>uni17C_0.rightpart1.glif</string>
  <key>uni17C0.rightpart2</key>
  <string>uni17C_0.rightpart2.glif</string>
  <key>uni17C0.rightpart3</key>
  <string>uni17C_0.rightpart3.glif</string>
  <key>uni17C1</key>
  <string>uni17C_1.glif</string>
  <key>uni17C2</key>
  <string>uni17C_2.glif</string>
  <key>uni17C3</key>
  <string>uni17C_3.glif</string>
  <key>uni17C4</key>
  <string>uni17C_4.glif</string>
  <key>uni17C5.lig.right</key>
  <string>uni17C_5.lig.right.glif</string>
  <key>uni17C5.rightpart</key>
  <string>uni17C_5.rightpart.glif</string>
  <key>uni17C6.a</key>
  <string>uni17C_6.a.glif</string>
  <key>uni17C6.ms.high</key>
  <string>uni17C_6.ms.high.glif</string>
  <key>uni17C6.ms.high2</key>
  <string>uni17C_6.ms.high2.glif</string>
  <key>uni17C6.ms.narrowhigh</key>
  <string>uni17C_6.ms.narrowhigh.glif</string>
  <key>uni17C6.ms.narrowhigh2</key>
  <string>uni17C_6.ms.narrowhigh2.glif</string>
  <key>uni17C6.narrow</key>
  <string>uni17C_6.narrow.glif</string>
  <key>uni17C6.x</key>
  <string>uni17C_6.x.glif</string>
  <key>uni17C7</key>
  <string>uni17C_7.glif</string>
  <key>uni17CA</key>
  <string>uni17C_A_.glif</string>
  <key>uni17CA.lower</key>
  <string>uni17C_A_.lower.glif</string>
  <key>uni17CA.ms.high</key>
  <string>uni17C_A_.ms.high.glif</string>
  <key>uni17CA.ms.narrowhigh</key>
  <string>uni17C_A_.ms.narrowhigh.glif</string>
  <key>uni17CA.narrow</key>
  <string>uni17C_A_.narrow.glif</string>
  <key>uni17CD</key>
  <string>uni17C_D_.glif</string>
  <key>uni17CD.a</key>
  <string>uni17C_D_.a.glif</string>
  <key>uni17CD.narrow</key>
  <string>uni17C_D_.narrow.glif</string>
  <key>uni17CF</key>
  <string>uni17C_F_.glif</string>
  <key>uni17CF.narrow</key>
  <string>uni17C_F_.narrow.glif</string>
  <key>uni17D0</key>
  <string>uni17D_0.glif</string>
  <key>uni17D0.a</key>
  <string>uni17D_0.a.glif</string>
  <key>uni17D0.alt</key>
  <string>uni17D_0.alt.glif</string>
  <key>uni17D0.ms.high</key>
  <string>uni17D_0.ms.high.glif</string>
  <key>uni17D0.ms.high.alt</key>
  <string>uni17D_0.ms.high.alt.glif</string>
  <key>uni17D0.ms.high2</key>
  <string>uni17D_0.ms.high2.glif</string>
  <key>uni17D0.ms.high2.alt</key>
  <string>uni17D_0.ms.high2.alt.glif</string>
  <key>uni17D21789</key>
  <string>uni17D_21789.glif</string>
  <key>uni17D21789.alt1</key>
  <string>uni17D_21789.alt1.glif</string>
  <key>uni17D21789.low</key>
  <string>uni17D_21789.low.glif</string>
  <key>uni17D21794</key>
  <string>uni17D_21794.glif</string>
  <key>uni17D21794.low</key>
  <string>uni17D_21794.low.glif</string>
  <key>uni17D2179E</key>
  <string>uni17D_2179E_.glif</string>
  <key>uni17D2179E.low</key>
  <string>uni17D_2179E_.low.glif</string>
  <key>uni17D217A1.alt</key>
  <string>uni17D_217A_1.alt.glif</string>
  <key>uni17D217A1.low</key>
  <string>uni17D_217A_1.low.glif</string>
  <key>uni17D217A117B6.low</key>
  <string>uni17D_217A_117B_6.low.glif</string>
  <key>uni17D217A7</key>
  <string>uni17D_217A_7.glif</string>
  <key>uni17D217A8</key>
  <string>uni17D_217A_8.glif</string>
  <key>uni17D217AA</key>
  <string>uni17D_217A_A_.glif</string>
  <key>uni17D217B1</key>
  <string>uni17D_217B_1.glif</string>
  <key>uni17D217B3</key>
  <string>uni17D_217B_3.glif</string>
  <key>uni17D3.ms.high</key>
  <string>uni17D_3.ms.high.glif</string>
  <key>uni17D3.ms.high2</key>
  <string>uni17D_3.ms.high2.glif</string>
  <key>uni17D3.ms.narrowhigh</key>
  <string>uni17D_3.ms.narrowhigh.glif</string>
  <key>uni17D3.ms.narrowhigh2</key>
  <string>uni17D_3.ms.narrowhigh2.glif</string>
  <key>uni17D4</key>
  <string>uni17D_4.glif</string>
</dict>
</plist>
