<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_L.ear</key>
  <string>_L_.ear.glif</string>
  <key>_R.ear</key>
  <string>_R_.ear.glif</string>
  <key>_bulgeArch</key>
  <string>_bulgeA_rch.glif</string>
  <key>_diagonal</key>
  <string>_diagonal.glif</string>
  <key>_instroke</key>
  <string>_instroke.glif</string>
  <key>_m</key>
  <string>_m.glif</string>
  <key>_mArch</key>
  <string>_mA_rch.glif</string>
  <key>_outstroke</key>
  <string>_outstroke.glif</string>
  <key>_squireltail</key>
  <string>_squireltail.glif</string>
  <key>_w</key>
  <string>_w.glif</string>
  <key>uni1780</key>
  <string>uni1780.glif</string>
  <key>uni1780.alt</key>
  <string>uni1780.alt.glif</string>
  <key>uni178017B6</key>
  <string>uni178017B_6.glif</string>
  <key>uni178017B6.alt</key>
  <string>uni178017B_6.alt.glif</string>
  <key>uni178017B6.space</key>
  <string>uni178017B_6.space.glif</string>
  <key>uni1781</key>
  <string>uni1781.glif</string>
  <key>uni1783</key>
  <string>uni1783.glif</string>
  <key>uni178317B6</key>
  <string>uni178317B_6.glif</string>
  <key>uni1784</key>
  <string>uni1784.glif</string>
  <key>uni178417B6</key>
  <string>uni178417B_6.glif</string>
  <key>uni1785</key>
  <string>uni1785.glif</string>
  <key>uni178517C5.right</key>
  <string>uni178517C_5.right.glif</string>
  <key>uni1786</key>
  <string>uni1786.glif</string>
  <key>uni178817C5.right</key>
  <string>uni178817C_5.right.glif</string>
  <key>uni1789</key>
  <string>uni1789.glif</string>
  <key>uni1789.alt</key>
  <string>uni1789.alt.glif</string>
  <key>uni178917B6.alt</key>
  <string>uni178917B_6.alt.glif</string>
  <key>uni178A</key>
  <string>uni178A_.glif</string>
  <key>uni178A17B6</key>
  <string>uni178A_17B_6.glif</string>
  <key>uni178F</key>
  <string>uni178F_.glif</string>
  <key>uni178F17B6</key>
  <string>uni178F_17B_6.glif</string>
  <key>uni1790</key>
  <string>uni1790.glif</string>
</dict>
</plist>
